body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rebeccapurple;
  opacity: 0.8;
  overflow: hidden;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  color: white;
}
.clock {
  display: flex;
  color: white;
}
.clock div {
  margin: 5px;
}
span {
  font-size: 40px;
  display: flex;
  background-color: slateblue;
  width: 100px;
  height: 80px;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}
#text {
  font-size: 14px;
  background-color: purple;
  height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#ampm {
  background-color: green;
  height: 30px;
  width: 60px;
  font-size: 20px;
  position: relative;
  top: 5.3rem;
}
